body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}

.calculator {
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 320px;
    background-color: #444;
}

.display {
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.display input {
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 2.5em;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button {
    border: 1px solid #555;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #666;
    color: #fff;
    transition: all 0.1s ease-in-out;
}

.buttons button:hover {
    background-color: #777;
}

.buttons button:active {
    background-color: #888;
    transform: scale(0.95);
}

.buttons button.operator {
    background-color: #f9a825;
}

.buttons button.operator:hover {
    background-color: #fb8c00;
}

.buttons button.operator:active {
    background-color: #ff6f00;
}

.buttons button.equals {
    background-color: #4caf50;
    grid-column: span 2;
}

.buttons button.equals:hover {
    background-color: #43a047;
}

.buttons button.equals:active {
    background-color: #388e3c;
}
